<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rbncha_archieveorder>
            <general>
                <archiveorder_days>15</archiveorder_days>
            </general>
        </rbncha_archieveorder>
    </default>
</config>