<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <type name="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <plugin name="archieveorder_grid_collection" type="\Rbncha\ArchieveOrder\Model\Plugin\ArchieveOrder" disabled="false" sortOrder="10" />
    </type> -->
</config>
