<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Sales::archieve_order" title="Archieved Orders" translate="title" module="Rbncha_ArchieveOrder" sortOrder="15" parent="Magento_Sales::sales_operation" action="archieveorder/order" resource="Magento_Sales::sales_order"/>
    </menu>
</config>
